<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>
<body>
  <main class="trip__planner">
    <form class="desc">
      <h3 class="planner">Travel Planner</h3>
      <label for="destination" class="travel" >Enter your destination</label>
      <input type="text" name="" id="destination" placeholder = 'enter the city here'>
      <br>
      <label for="departure" class="travel">Departure</label>
      <input type="date" name="" id="departure" required>
      <br>
      <button type="submit" id="discover">Discover</button>
    </form>

    <div class="weather">
      <img src="" alt="" id="weather__image" >
    </div>
    <div class="trip">
        <div class="city"></div>
        <h3 class="trip__days"></h3>
    </div>
    <section class="update__travel">
      <div id="weather__icon"></div>
      <div id="temp"></div>
      <div id="weather_des"></div>
      <div id="place"></div>
      <div id="weather__country"></div>
      <div id="pixabay__image"></div>
    </section>
    <section class="update__hotel">
      <div id="hotel__id"></div>
      <div id="hotel__name"></div>
      <div id="hotel__price"></div>
      <div id="hotel__cancel"></div>
    </section>
  </main>
</body>
</html>