<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
</head>
<body>
  <main class="place__form">
    <form class="hotel">
      <fieldset>
        <h3 class="planner">Search Hotel</h3>
      <label for="hotel__destination" class="hotel" >Destination</label>
      <input type="text" name="" id="hotel__destination" placeholder = 'enter the city of destination' required>
      <label for="checkin__date" class="hotel">Check-in date</label>
      <input type="date" name="" id="checkin__date" required>
      <label for="checkout__date" class="hotel">Check-out date</label>
      <input type="date" name="" id="checkout__date" required>
      <br>
      <label for="adults"></label>
      <input type="number" name="" id="adults" placeholder="2 adults" required>
      <br>
      <label for="children"></label>
      <input type="number" name="" id="children" placeholder="No children">
      <br>
      <label for="rooms"></label>
      <input type="number" name="" id="rooms" placeholder="1 room" required>
      <button type="submit" id="search">Search</button>
      </fieldset>
    </form>

    <form class="des">
      <h3 class="planner">Travel Planner</h3>
      <label for="destination" class="travel" >Enter your destination</label>
      <input type="text" name="" id="destination" placeholder = 'enter the city here'>
      <br>
      <label for="departure" class="travel">Departure</label>
      <input type="date" name="" id="departure" required>
      <br>
      <button type="submit" id="discover">Discover</button>
    </form>

    <div class="weather">
      <img src="" alt="" id="weather__image" >
    </div>
    <div class="trip">
        <div class="city"></div>
        <h3 class="trip__days"></h3>
    </div>
    <section class="des"></section>
    <section class="des"></section>
  </main>
</body>
</html>