body {
    background-image: url('./../images/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.trip__planner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height:100vh;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#zip {
    background-color: rgb(59, 59, 192);
    color: whitesmoke;
}

#feelings {
    background-color: rgb(59, 59, 192);
    color: whitesmoke;
    height: 20vh;
}

.title {
    margin-top: 20px;
}


label {
    display:block;
    font-size: 18px;
}

#date {
    color: white;
}

input {
    display:block;
    height: 60px;
    width: 320px;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

button {
    width: 200px;
    height: 100px;
    background-color: rgba(82, 124, 238, 0.938);
    margin: 50px;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    color:  rgb(2, 5, 54);;
    box-shadow: 2px 4px 5px #444;
}

textarea {
    background:#22b2da;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgb(99, 94, 87);
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: 'Oswald', sans-serif;
    color: wheat;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: 'Oswald', sans-serif;
    color: wheat;
} 




