body {
    background-image: url('./../images/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.trip__planner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

label {
    display:block;
    font-size: 18px;
}


input {
    display:block;
    height: 60px;
    width: 320px;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

button {
    width: 150px;
    height: 60px;
    background-color: rgba(166, 186, 241, 0.938);
    border-radius: 10px;
    margin: 50px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color:  rgb(2, 5, 54);

    &:hover{
        transform: scale(1.0);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }
}

.trip {
    color: rgb(4, 17, 9); 
    line-height: 30px;
    margin-top: -1%;
}


@media only screen and (max-width: 900px) {
    .trip__planner {
        display: grid;
        grid-auto-rows: minmax(30px, auto);
    .trip {
        color: white; 
        margin-top: -20%;
        margin-left: -5%;

        }

    label {
        display:block;
        font-size: 9px;
    }
        
        
    input {
        display:block;
        height: 30px;
        width: 160px;
        font-size: 10px;
    } 
    }

    button {
        width: 100px;
        height: 40px;
        background-color: rgba(166, 186, 241, 0.938);
        border-radius: 10px;
        margin: 25px;
        font-size: 12px;
        color:  rgb(2, 5, 54);   
        
        &:hover{
            transform: scale(1.0);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        }
    } 

    #pixabay__image {
        width: 5px;
        height: 5px;
        margin-left: -55%;

    }
}

